<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Yalochat, Inc. All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DemoApplication"
        android:label="Yalo Chat Demo"
        android:theme="@style/Theme.Demo">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
