name: chat_flutter_sdk_example
description: "Demonstrates how to use the chat_flutter_sdk plugin."
publish_to: 'none'
environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  chat_flutter_sdk:
    path: ../
  cupertino_icons: ^1.0.8
  go_router: ^16.3.0
  logging: ^1.3.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
